.page {
  background-color: #40B;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  box-sizing: border-box;
  border: 1px solid #545454;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1550px;
  min-width: 704px;
  margin: auto;
  background-image: url(../images/icons.png);
  /* background-size: cover; */
  background-size: contain;
}

.logo {
  font-size: 24px;
  line-height: 1.5;
}

.header__city {
  margin: 0;
  display: flex;
}

.header__description {
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-right: 8px;
  margin-top: 3px;
}

.header__temp {
  font-size: 24px;
}

.user-city {
  width: 600px;
  height: 200px;
  margin: 20px auto 0 auto;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #545454;
  border-radius: 5px;
  background-color: #192033;
  /* background-image: url(../images/rain.jpg); */
  background-size: cover;
}

.user-cities__info {
  margin-top: 55px;
}

.selected-city__info {
  margin-top: 55px;
}

.selected-city__block {
  width: 600px;
  height: 200px;
  margin: 20px auto 0 auto;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #545454;
  border-radius: 5px;
  background-color: #192033;
  /* background-image: url(../images/rain.jpg); */
  background-size: cover;
}

.form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  
}

.form__field {
  margin: 0 0 30px 0;
}

.form__fieldset {
  background-color: #192033;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}

.form__button {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}


.button:focus {
  outline-color: greenyellow;
}

.button:invalid {
  background-color: red;
}


.form__error {
  display: none;
  position: absolute;
  margin-top: 10px;
  color: #df4b41;
  text-align: left;
  font-size: 14px;
  animation: errors .1s ease-in-out;
}

.form__input {
  border-radius: 5px;
  width: 300px; 
}

.form__input:valid:not(:placeholder-shown) {
	border-color: #ffdb4d;
}

.form__input:invalid:not(:placeholder-shown) {
	border-color: #df4b41;
}

.form__input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}

.page__wrapper {
  margin: 100px auto 70px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #898989;
  line-height: 1.5;
}

.page__footer {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
}

.footer__link {
  color: #898989;
  transition: opacity .2s linear;
}

.footer__link:hover {
  opacity: .8;
}
